<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Planetoid_DB.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Planetoid_DB.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Planetoid_DB.Properties.Settings>
            <setting name="systemMpcorbDatGzUrl" serializeAs="String">
                <value>http://www.minorplanetcenter.org/iau/MPCORB/MPCORB.DAT.gz</value>
            </setting>
            <setting name="systemMpcorbDatUrl" serializeAs="String">
                <value>http://www.minorplanetcenter.org/iau/MPCORB/MPCORB.DAT</value>
            </setting>
            <setting name="systemAstorbDatUrl" serializeAs="String">
                <value>https://ftp.lowell.edu/pub/elgb/astorb.dat</value>
            </setting>
            <setting name="systemAstorbDatGzUrl" serializeAs="String">
                <value>https://ftp.lowell.edu/pub/elgb/astorb.dat.gz</value>
            </setting>
            <setting name="systemFilenameMpcorbDat" serializeAs="String">
                <value>mpcorb.dat</value>
            </setting>
            <setting name="systemFilenameMpcorbDatTemp" serializeAs="String">
                <value>_</value>
            </setting>
            <setting name="systemFilenameAstorbDat" serializeAs="String">
                <value>astorb.dat</value>
            </setting>
            <setting name="systemFilenameAstorbDatTemp" serializeAs="String">
                <value>_</value>
            </setting>
            <setting name="systemWebsiteMpc" serializeAs="String">
                <value>http://www.minorplanetcenter.org/iau/mpc.html</value>
            </setting>
            <setting name="systemWebsiteMpcorb" serializeAs="String">
                <value>http://www.minorplanetcenter.org/iau/MPCORB.html</value>
            </setting>
            <setting name="systemFilenameTemp" serializeAs="String">
                <value>_</value>
            </setting>
            <setting name="systemAllnumCatUrl" serializeAs="String">
                <value>https://newton.spacedys.com/~astdys2/catalogs/allnum.cat</value>
            </setting>
            <setting name="systemFilenameAllnumCat" serializeAs="String">
                <value>allnum.cat</value>
            </setting>
            <setting name="systemFilenameUfitobsCat" serializeAs="String">
                <value>ufitobs.cat</value>
            </setting>
            <setting name="systemFilenameSingoppCat" serializeAs="String">
                <value>singopp.cat</value>
            </setting>
            <setting name="systemFilenameAllnumCatTemp" serializeAs="String">
                <value>_</value>
            </setting>
            <setting name="systemFilenameUfitobsCatTemp" serializeAs="String">
                <value>_</value>
            </setting>
            <setting name="systemFilenameSingoppCatTemp" serializeAs="String">
                <value>_</value>
            </setting>
            <setting name="systemHomepage" serializeAs="String">
                <value>https://mjohne.github.io/Planetoid-DB/</value>
            </setting>
            <setting name="systemHomepageMailExtern" serializeAs="String">
                <value>mj-programming@gmx.de</value>
            </setting>
            <setting name="systemHomepageMailIntern" serializeAs="String">
                <value>mailto:mj-programming@gmx.de</value>
            </setting>
        </Planetoid_DB.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <Planetoid_DB.Properties.Settings>
            <setting name="userMpcorbDatGzUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="userMpcorbDatUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="userAstorbDatUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="userAstorbDatGzUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="userAllnumCatUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="systemUfitobsCatUrl" serializeAs="String">
                <value>https://newton.spacedys.com/~astdys2/catalogs/ufitobs.cat</value>
            </setting>
            <setting name="userUfitobsCatUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="systemSingoppCatUrl" serializeAs="String">
                <value>https://newton.spacedys.com/~astdys2/catalogs/singopp.cat</value>
            </setting>
            <setting name="userSingoppCatUrl" serializeAs="String">
                <value />
            </setting>
        </Planetoid_DB.Properties.Settings>
    </userSettings>
</configuration>