<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <ApplicationRevision>31</ApplicationRevision>
    <ApplicationVersion>0.9.27.*</ApplicationVersion>
    <BootstrapperEnabled>True</BootstrapperEnabled>
    <Configuration>Release</Configuration>
    <CreateDesktopShortcut>True</CreateDesktopShortcut>
    <CreateWebPageOnPublish>False</CreateWebPageOnPublish>
    <ErrorReportUrl>https://github.com/mjohne/Planetoid-DB</ErrorReportUrl>
    <GenerateManifests>true</GenerateManifests>
    <Install>True</Install>
    <InstallFrom>Disk</InstallFrom>
    <IsRevisionIncremented>True</IsRevisionIncremented>
    <IsWebBootstrapper>False</IsWebBootstrapper>
    <MapFileExtensions>True</MapFileExtensions>
    <OpenBrowserOnPublish>False</OpenBrowserOnPublish>
    <Platform>ARM64</Platform>
    <ProductName>Planetoid-DB</ProductName>
    <PublishDir>bin\Release\net10.0-windows7.0\win-arm64\app.publish\</PublishDir>
    <PublishUrl>bin\publish\win-arm64\</PublishUrl>
    <PublisherName>Michael Johne (Mijo Software)</PublisherName>
    <PublishProtocol>ClickOnce</PublishProtocol>
    <PublishReadyToRun>False</PublishReadyToRun>
    <PublishSingleFile>False</PublishSingleFile>
    <RuntimeIdentifier>win-arm64</RuntimeIdentifier>
    <SelfContained>False</SelfContained>
    <SignatureAlgorithm>(Keine)</SignatureAlgorithm>
    <SignManifests>False</SignManifests>
    <SkipPublishVerification>false</SkipPublishVerification>
    <SuiteName>Planetoid_DB</SuiteName>
    <SupportUrl>https://github.com/mjohne/Planetoid-DB</SupportUrl>
    <TargetFramework>net10.0-windows7.0</TargetFramework>
    <TrustUrlParameters>True</TrustUrlParameters>
    <UpdateEnabled>False</UpdateEnabled>
    <UpdateMode>Foreground</UpdateMode>
    <UpdateRequired>False</UpdateRequired>
    <UseApplicationTrust>True</UseApplicationTrust>
    <WebPageFileName>Publish.html</WebPageFileName>
  </PropertyGroup>
  <ItemGroup>
    <BootstrapperPackage Include="Microsoft.NetCore.DesktopRuntime.10.0.Arm64">
      <Install>true</Install>
      <ProductName>.NET Desktop-Runtime 10.0.11 (Arm64)</ProductName>
    </BootstrapperPackage>
  </ItemGroup>
</Project>